# Artifacts from an early discussion with Claude. Not deep, just to get a project idea and explore it before committing.
claude-initial-design.png
log-intelligence-design-summary.md
Initial notes and plan.md

# Used for complex arcgitecture reviews by Claude, to keep the context in an external file and be able to restart a new session with relevant context
doc/design/reviews

# I use Obsidian to manage the documentation within this repo
.obsidian

.idea